<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://www.pinkcrab.co.uk">PinkCrab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/phpmyadmin">phpMyAdmin</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/logs/error.log">Error Logs</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/logs/access.log">Access Logs</a>
        </li> 
      </ul>
    </div>
  </div>
</nav>