{{> partials/head }}
<div class="row">
    <div class="col">
      <a href="{{pma_uri}}" target="_blank">
        <img src="{{assets_uri}}images/phpmyadmin-logo.png">
        <img src="{{image(phpmyadmin-logo.png)}}">
        </a>      
    </div>
    <div class="col">
      <h2>PHP Details</h2>
      <ul>
        <li>PHP Version: {{php_version}}</li>
        <li>MYSQL Version: {{mysql_version}}</li>
        <li>MYSQL Client: {{mysql_client}}</li>
        <li>MYSQL Connection USER: root</li>
        <li>MYSQL Connection PASSWORD: rootpwd</li>
        <li>MYSQL Connection HOST: mariadb</li>
      </ul>
    </div>
  </div>
<div class="row">
    <div class="col">
      <h2>Sites</h2>
      <ul>
        {{&sites}}
      </ul>
    </div>
  </div>

{{> partials/footer }}
